C2_HOST=0.0.0.0
C2_PORT=8010
C2_VERSION=1.0.0

MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=loan_database
MONGODB_COLLECTION=finalapplications

RULE_ENGINE_URL=http://localhost:8000
RULE_ENGINE_ENDPOINT=/policy-rag/evaluate

RISK_ENGINE_URL=http://localhost:8001
RISK_ENGINE_ENDPOINT=/risk/evaluate

REQUEST_TIMEOUT_SECONDS=120
